<a href="https://colab.research.google.com/github/leilabynum/DS1002/blob/main/Assignments/06_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [1]:
import numpy as np
import pandas as pd

---

In [2]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [3]:
series = pd.Series(list)
print(series)

0    98
1    24
2    46
3    87
4    33
dtype: int64

3. Take the above series and add an index that starts at 2 and steps by 3

In [4]:
series = series.reset_index()
new_index = range(2, len(series) * 3 + 2, 3)
series.index = new_index
print(series)

    index   0
2       0  98
5       1  24
8       2  46
11      3  87
14      4  33

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [5]:
data = {
    'Name': ['Leila', 'Nancy', 'Frank', 'Georgia'],
    'Age': [18, 59, 61, 23],
    'Career': ['student', 'lawyer', 'teacher', 'writer']
}
df = pd.DataFrame(data)
print(df)

      Name  Age   Career
0    Leila   18  student
1    Nancy   59   lawyer
2    Frank   61  teacher
3  Georgia   23   writer

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [6]:
df = df.rename_axis('participant_id')
print(df)

                   Name  Age   Career
participant_id
0                 Leila   18  student
1                 Nancy   59   lawyer
2                 Frank   61  teacher
3               Georgia   23   writer

6. Use a pandas function to determine the data types of the columns of `df`.

In [7]:
data_types = df.dtypes
print(data_types)

Name      object
Age        int64
Career    object
dtype: object

7. Using bracket notation, reference column `name`

In [8]:
name_column = df['Name']
print(name_column)

participant_id
0      Leila
1      Nancy
2      Frank
3    Georgia
Name: Name, dtype: object

8. Using dot notation, reference column `name`

In [9]:
name_column = df.Name
print(name_column)

participant_id
0      Leila
1      Nancy
2      Frank
3    Georgia
Name: Name, dtype: object

8. Reference column `name` and have it returned in a dataframe.

In [10]:
name_column_df = df[['Name']]
print(name_column_df)

                   Name
participant_id
0                 Leila
1                 Nancy
2                 Frank
3               Georgia

9. Show the 3rd element in column `career`.

In [11]:
third_element_career = df['Career'].iloc[2]
print(third_element_career)

teacher

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [12]:
import seaborn as sns
iris = sns.load_dataset('iris')

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [13]:
iris[['sepal_length','sepal_width']].corr()

              sepal_length  sepal_width
sepal_length       1.00000     -0.11757
sepal_width       -0.11757      1.00000

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [15]:
correlation_setosa = iris[iris['species'] == 'setosa'][['sepal_length', 'sepal_width']].corr().iloc[0, 1]
correlation_versicolor = iris[iris['species'] == 'versicolor'][['sepal_length', 'sepal_width']].corr().iloc[0, 1]
correlation_virginica = iris[iris['species'] == 'virginica'][['sepal_length', 'sepal_width']].corr().iloc[0, 1]
print("setosa:", correlation_setosa)
print("versicolor:", correlation_versicolor)
print("virginica:", correlation_virginica)

setosa: 0.7425466856651594
versicolor: 0.5259107172828247
virginica: 0.45722781639411325

setosa has the highest correlation between sepal length and sepal width

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative (or the least positive) correlation?  Again, include calculations to support your answer.

In [30]:
correlations = iris.corr(numeric_only = True)
correlations = correlations.mask(correlations == 1, other=0)
min_correlation = correlations.min().min()
variable1, variable2 = correlations.stack()[correlations.stack() == min_correlation].index[0]
print(f"The two variables with the most negative correlation are {variable1} and {variable2}, with correlation coefficient: {min_correlation}")

The two variables with the most negative correlation are sepal_width and petal_length, with correlation coefficient: -0.42844010433053864

In [42]:
species_data = iris[iris['species'] == 'virginica']
correlations = species_data.corr(numeric_only = True)
min_correlation_pair = correlations.unstack().sort_values().iloc[0]
min_correlation = correlations.loc[variable1, variable2]
print(f"For virginica the two variables with the most negative correlation are {variable1} and {variable2}, with correlation coefficient: {min_correlation}")

For virginica the two variables with the most negative correlation are sepal_length and petal_width, with correlation coefficient: 0.2811077091573193

In [45]:
species_data = iris[iris['species'] == 'setosa']
correlations = species_data.corr(numeric_only = True)
min_correlation_pair = correlations.unstack().sort_values().iloc[0]
min_correlation = correlations.loc[variable1, variable2]
print(f"For setosa the two variables with the most negative correlation are {variable1} and {variable2}, with correlation coefficient: {min_correlation}")

For setosa the two variables with the most negative correlation are sepal_length and petal_width, with correlation coefficient: 0.2780983529359698

In [46]:
species_data = iris[iris['species'] == 'versicolor']
correlations = species_data.corr(numeric_only = True)
min_correlation_pair = correlations.unstack().sort_values().iloc[0]
min_correlation = correlations.loc[variable1, variable2]
print(f"For versicolor the two variables with the most negative correlation are {variable1} and {variable2}, with correlation coefficient: {min_correlation}")

For versicolor the two variables with the most negative correlation are sepal_length and petal_width, with correlation coefficient: 0.54646107159863

14.  Once again, the variables `sepal_width` and `petal_length` are negatively correlated.  But for each individual species, these two variables are positively correlated.  How is this possible?  Explain this phenomenon.  Use a data visualization if it helps.

The phenomenon is caused by the fact that the relationship between sepal width and petal length vary from when they analyized with an individual species and with all the species at once. Each individual relation with have distinct patterns, but when asseses all together will create a different correlation.