<a href="https://colab.research.google.com/github/leilabynum/DS1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [18]:
# Load pandas and the data
import pandas as pd
ride_sharing = pd.read_csv('ride_sharing.csv')

In [79]:
# show how many rows and columns are in this dataset
num_rows, num_columns = ride_sharing.shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 25760 rows and 10 columns.

In [20]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
ride_sharing['duration'] = ride_sharing['duration'].str.extract('(\d+)').astype(int)

In [73]:
# Now display the datatypes in the updated dataframe
print(ride_sharing.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [22]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration = ride_sharing['duration'].min()
print(f"The shortest ride duration is {min_duration} minutes.")

The shortest ride duration is 1 minutes.

In [23]:
max_duration = ride_sharing['duration'].max()
print(f"The longest ride duration is {max_duration} minutes.")

The longest ride duration is 1372 minutes.

In [40]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
rides = ride_sharing.query('duration <= 60')

In [44]:
# Now show both the min and max values of the duration column for your new dataset.
max_duration_rides = rides['duration'].max()
print(f"The longest ride duration in rides is {max_duration_rides} minutes.")

The longest ride duration in rides is 60 minutes.

In [43]:
min_duration_rides = rides['duration'].min()
print(f"The shortest ride duration in rides is {min_duration_rides} minutes.")

The shortest ride duration in rides is 1 minutes.

In [75]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
tires = ride_sharing.query('tire_size == 26')

In [127]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
female_tires = ride_sharing.query('tire_size == 26 and duration <= 60 and user_gender == "FEMALE"')

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [98]:
messy_data = pd.read_csv('more-messy-data.csv')
messy_data

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1           3.5          2.9           1.4         0.5   virginica
1       2           3.6          3.2           3.0         0.5      setosa
2       3           3.8          NaN           2.2         1.5      setosa
3       4           5.8          2.7           2.6         1.2   virginica
4       5           4.9          3.6           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412           NaN          3.6           2.9         0.5  Versicolor
1312  413           5.8          2.7           2.0         0.1  Versicolor
1313  414           3.3          3.7           1.3         2.8  Versicolor
1314  415           3.1          NaN           1.1         NaN  Versicolor
1315  416           4.3          2.5           1.3           1  Versicolor

[1316 rows x 6 columns]

In [53]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
messy_data.duplicated()
print(messy_data.duplicated().sum())

287

In [101]:
# Next, remove all duplicate rows using Python.
messy_data = messy_data.drop_duplicates()

In [109]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
messy_data['sepal_length'] = pd.to_numeric(messy_data['sepal_length'], errors='coerce')
messy_data['sepal_width'] = pd.to_numeric(messy_data['sepal_width'], errors='coerce')
messy_data['petal_length'] = pd.to_numeric(messy_data['petal_length'], errors='coerce')
messy_data['petal_width'] = pd.to_numeric(messy_data['petal_width'], errors='coerce')

nan_values = messy_data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].isna().sum()
print(nan_values)

sepal_length    66
sepal_width     66
petal_length    67
petal_width     83
dtype: int64

In [110]:
messy_data['sepal_length'] = pd.to_numeric(messy_data['sepal_length'], errors='coerce')
messy_data['sepal_width'] = pd.to_numeric(messy_data['sepal_width'], errors='coerce')
messy_data['petal_length'] = pd.to_numeric(messy_data['petal_length'], errors='coerce')
messy_data['petal_width'] = pd.to_numeric(messy_data['petal_width'], errors='coerce')

In [111]:
sepal_length_mean = messy_data['sepal_length'].mean(skipna=True)
sepal_width_mean = messy_data['sepal_width'].mean(skipna=True)
petal_length_mean = messy_data['petal_length'].mean(skipna=True)
petal_width_mean = messy_data['petal_width'].mean(skipna=True)

In [112]:
messy_data['sepal_length'].fillna(sepal_length_mean, inplace=True)
messy_data['sepal_width'].fillna(sepal_width_mean, inplace=True)
messy_data['petal_length'].fillna(petal_length_mean, inplace=True)
messy_data['petal_width'].fillna(petal_width_mean, inplace=True)

In [113]:
print(messy_data.head())

   id  sepal_length  sepal_width  petal_length  petal_width  species
0   1           3.5     2.900000           1.4          0.5        9
1   2           3.6     3.200000           3.0          0.5        6
2   3           3.8     2.984091           2.2          1.5        6
3   4           5.8     2.700000           2.6          1.2        9
4   5           4.9     3.600000           3.0          1.2        9

In [114]:
# Find any values in the dataframe that are still missing, and delete them.
missing_values = messy_data.isna().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
id              0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [115]:
# How many different species are there?
num_species = messy_data['species'].nunique()

print(f"There are {num_species} different species in the dataset.")

There are 11 different species in the dataset.

In [124]:
# Clean up the 'species' variable so that there are exactly three different values.
values_to_keep = ['setosa', 'versicolor', 'virginica']
messy_data['species'] = messy_data['species'].apply(lambda x: x if x in values_to_keep else None)
messy_data.dropna(subset = ['species'], inplace = True)

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))